$form__avatar--bg: repeating-linear-gradient( -45deg, #fff, #fff 5px, pink 5px, pink 10px);
$form--bg: white;
$form__input--border-color: darken(pink, 10%);
$form__input-label--text-color-active: darken(pink, 10%);
$form__input-label--text-color: rgba(0, 0, 0, 0.15);
$form__submit-bg: darken(pink, 10%);
$form__submit--border: pink;